:root {

    --primary: #0e2c3f;
    --secondary: #3eea47;
    --accent: #bcff39;

}
.quitar-linea{
  text-decoration: none;
}



@font-face {
    font-family: 'Abel-Regular';
    /* Nombre de la fuente */
    src: url('../assets/fonts/Abel-Regular.ttf') format('truetype');
    /* URL y formato de la fuente */
    /* Agrega más formatos si es necesario */
    font-weight: normal;
    /* Peso de la fuente */
    font-style: normal;
    /* Estilo de la fuente */
}

@font-face {
    font-family: 'BebasNeue-Regular';
    /* Nombre de la fuente */
    src: url('../assets/fonts/BebasNeue-Regular.ttf') format('truetype');
    /* URL y formato de la fuente */
    /* Agrega más formatos si es necesario */
    font-weight: normal;
    /* Peso de la fuente */
    font-style: normal;
    /* Estilo de la fuente */
}


/*FUentes*/
.fuente-Abel {
    font-family: 'Abel-Regular';
}

.fuente-Honk {
    font-family: 'Honk';
}

.fuente-Bebas {
    font-family: 'BebasNeue-Regular';
}

/*FIN Fuentes*/

.text-primary {
    color: var(--primary) !important;
}

.text-secondary {
    color: var(--secondary) !important;
}

.text-accent {
    color: var(--accent) !important;
}

.bg-primary {
    background-color: var(--primary) !important;
}

.bg-secondary {
    background-color: var(--secondary) !important;
}

.bg-accent {
    background-color: var(--accent) !important;
}

.custom-border {
    border: 1px solid var(--accent);
    /* Cambia el color del borde */
}


/*color del boton*/
.bg-accent {
    background-color: var(--accent) !important;
    /* Cambia a tu color deseado */
}



/*Personalizando la tabla*/
.custom-table th,
.custom-table td {
    border: 2px solid #9d2fb1;
    /* Bordes de las celdas */
}

/*FIN TABLAS*/
/*CARDS*/
.card {
    box-sizing: border-box;
    width: auto;
    height: auto;
    background: var(--primary);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    color: black;
    
    margin: 0 auto; /* Esto ayudará a centrar la tarjeta dentro de su columna */
}
.card-img-custom {
    max-height: 200px;
    object-fit: contain;
}

.card:hover {
    border: 1px solid var(--accent);
    transform: scale(1.05);
}

.card:active {
    transform: scale(0.95) rotateZ(1.7deg);
}

/*FIN CARDS*/

/*BOTON GITHUB*/
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    gap: 15px;
    background-color: #181717;
    outline: 3px #181717 solid;
    outline-offset: -3px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 400ms;
    margin: auto; /* Centra el botón horizontal y verticalmente */

  }
  .button .text {
    color: white;
    font-weight: 700;
    font-size: 1em;
    transition: 400ms;
    margin: auto; /* Centra el botón horizontal y verticalmente */
    display: flex; /* Usa flexbox para alinear verticalmente */
    align-items: center; /* Centra verticalmente el contenido */
  }
  .button svg path {
    transition: 400ms;
  }
  
  .button:hover {
    background-color: transparent;
  }
  
  .button:hover .text {
    color: #181717;
  }
  
  .button:hover svg path {
    fill: #181717;
  }
  
/*FIN BOTON GITHUB*/

/*Radios*/
/* Definición de colores */
:root {
    --negro: #000000;
    --marron: #8B4513;
    --rojo: #FF0000;
    --naranja: #FFA500;
    --amarillo: #FFFF00;
    --verde: #008000;
    --azul: #0000FF;
    --violeta: #d317d3;
    --gris: #808080;
    --blanco: #FFFFFF;
    --dorado: #FFD700;
    --plateado: #C0C0C0;
  }
  
  
  
  .radio-buttons {
    display: flex;
    flex-direction: column;
    align-items: center ;
    border-color: #000000;
    /*border: solid 1px;*/
  }
  
  input[type="radio"] {
    display: none;
  }
  
  label {
    display: inline-block;
    width: 70%; /* Ancho ajustable según necesidad */
    height: 20px; /* Altura ajustable según necesidad */
    margin-bottom: 5px; /* Espacio entre cada radio button */
    cursor: pointer;
    position: relative; /* Añadido para posicionar el span */
  }
  
  label span {
    display: block;
    width: 75%;
    height: 100%;
    border: 1px solid ;
    transition: transform 0.2s ease-in-out;
    border-radius: 10%;
  }
  
  /* Estilos para cada color */
  label span.negro { background-color: var(--negro); }
  label span.marron { background-color: var(--marron); }
  label span.rojo { background-color: var(--rojo); }
  label span.naranja { background-color: var(--naranja); }
  label span.amarillo { background-color: var(--amarillo); }
  label span.verde { background-color: var(--verde); }
  label span.azul { background-color: var(--azul); }
  label span.violeta { background-color: var(--violeta); }
  label span.gris { background-color: var(--gris); }
  label span.blanco { background-color: var(--blanco); }
  label span.dorado { background-color: var(--dorado); }
  label span.plateado { background-color: var(--plateado); }
  
  /* Escalado del span al hacer clic */
  input[type="radio"]:checked + label span {
    transform: scale(1.2);
    border: solid 2px;
    border-color: var(--secondary);
    position: absolute;
    top: 0;
    left: 0;
  }
/*FIN RADIOS*/



/* boton */
/*color del boton*/
.mi-boton {
  background-color: var(--accent)!important; /* Cambia a tu color deseado */
}
.mi-boton:hover {
  background-color: var(--secondary) !important; /* Color de fondo en hover */
}


/* boton */